<main>
	<div class="px-20 py-20">
		<h1 class="text-indigo-600 text-5xl font-bold text-left pl-20">Tic Tac Toe</h1>
		<h3 class="text-indigo-600 text-xl font-bold text-left pl-20 pb-20">Created By:
			<span class="text-gray-600">
				Sawyer Brunn
			</span>
		</h3>
		<div class="border border-gray-600 rounded-xl shadow-md">
			<div class="grid grid-cols-3 pb-20">

				<div class="col-start-2 col-span-1 text-center pt-20">
					Make move for <%= @turn %>:
				</div>

				<div class="col-start-1 col-span-1 text-center">
					Some settings over here
				</div>

				<table>
					<tr class="h-12 border border-black">
						<td class="border border-black text-center">
							<button phx-click="move" phx-value-index={0} class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
								<%= Map.get(@board, 0) %>
							</button>
						</td>
						<td class="border border-black text-center">
							<button phx-click="move" phx-value-index={1} class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
								<%= Map.get(@board, 1) %>
							</button>
						</td>
						<td class="border border-black text-center">
							<button phx-click="move" phx-value-index={2} class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
								<%= Map.get(@board, 2) %>
							</button>
						</td>
					</tr>
					<tr class="h-12 border border-black">
						<td class="border border-black text-center">
							<button phx-click="move" phx-value-index={3} class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
								<%= Map.get(@board, 3) %>
							</button>
						</td>
						<td class="border border-black text-center">
							<button phx-click="move" phx-value-index={4} class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
								<%= Map.get(@board, 4) %>
							</button>
						</td>
						<td class="border border-black text-center">
							<button phx-click="move" phx-value-index={5} class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
								<%= Map.get(@board, 5) %>
							</button>
						</td>
					</tr>
					<tr class="h-12 border border-black">
						<td class="border border-black text-center">
							<button phx-click="move" phx-value-index={6} class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
								<%= Map.get(@board, 6) %>
							</button>
						</td>
						<td class="border border-black text-center">
							<button phx-click="move" phx-value-index={7} class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
								<%= Map.get(@board, 7) %>
							</button>
						</td>
						<td class="border border-black text-center">
							<button phx-click="move" phx-value-index={8} class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
								<%= Map.get(@board, 8) %>
							</button>
						</td>
					</tr>
			</table>

			<div class="col-start-3 col-span-1 text-center">
				<div>
					Undo buttons and stuff over here
				</div>
				<button phx-click="new-game" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
					New Game
				</button>
			</div>

			<div class="col-start-2 col-span-1 text-center">
				<%= if @winner != nil do %>
					<div class="text-green-500">
						Game over! <%= @winner %> wins.
					</div>
				<% end %>
				<div class="text-red-600">
					<%= live_flash(@flash, :info) %>
				</div>
			</div>

			</div>
		</div>
	</div>
</main>